@font-face {
    font-family: 'DFVN Pexel Grotesk';
    src: url('../assets/fonts/DFVN\ Pexel\ Grotesk.woff') format('woff');
    src: url('../assets/fonts/DFVN\ Pexel\ Grotesk.otf') format('opentype');
    src: url('../assets/fonts/DFVN\ Pexel\ Grotesk.ttf') format('truetype');
}
@font-face {
    font-family: 'Ganh Type - Regular';
    src: url('../font/Ganh Type - Regular.woff') format('woff');
}
@font-face {
    font-family: 'Ganh Type - RegularItalic';
    src: url('../font/Ganh Type - RegularItalic.woff') format('woff');
    font-style: italic;
}
@font-face {
    font-family: 'Redaction35-BWXjw';
    src: url('../font/Redaction35-BWXjw.woff') format('woff');
}
@font-face {
    font-family: 'Redaction35Italic-rgDrB';
    src: url('../font/Redaction35Italic-rgDrB.woff') format('woff');
    font-style: italic;
}
@font-face {
    font-family: 'SF Pixelate Bold Oblique';
    src: url('../font/SF Pixelate Bold Oblique.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'SF Pixelate Oblique';
    src: url('../font/SF Pixelate Oblique.woff') format('woff');
}
:root {
    --color-green-angel: #5DDA00;
    --color-green-witch: #00D241;
    --color-green-astronut: #00D18B;
    --color-yellow-adventure: #FFBB00;
    --color-yellow-magician: #FF8100;
    --color-yellow-superhero: #FF103A;
    --color-blue-artist: #0095BD;
    --color-blue-conqueror: #0083C2;
    --color-blue-elf: #005AA2;
    --color-pink-superstar: #B0318B;
    --color-pink-clown: #F20071;
    --color-pink-cupid: #FF1380;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
    
}
.logo {
    width: 7rem;
    height:7rem;
    display: block;
    margin: auto;
    position: absolute;
    top: 5%;
    left: 10%;
}
.logoresult {
    width: 10%;
    display: block;
    margin: auto;
    position: absolute;
    top: 5vh;
    left: 10vh;
}
img#ROWsticker {
    width: 100%;
}
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
img#loadinggif {
    position: fixed;
    width: 20%;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/************ RESULT ************/
/***********CONSTRUCTOR***********/
.backgroundconstructor {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #0083C2 0%, #ffffff 50%, #0083C2 100%);
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    animation: backgroundAnimation 10s linear infinite;
    background-size: 200% 200%;
}
.backgroundnetworker {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #F20071 0%, #ffffff 50%, #F20071 100%);
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    animation: backgroundAnimation 10s linear infinite;
    background-size: 200% 200%;
}
.backgrounddreamchaser {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #5DDA00 0%, #ffffff 50%, #5DDA00 100%);
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    animation: backgroundAnimation 10s linear infinite;
    background-size: 200% 200%;
}
.backgroundpioneer {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #FF8100 0%, #ffffff 50%, #FF8100 100%);
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    animation: backgroundAnimation 10s linear infinite;
    background-size: 200% 200%;
}
@keyframes backgroundAnimation {

    0% { background-position: 0% 50%; }

    50% { background-position: 100% 50%; }

    100% { background-position: 0% 50%; }

}

p.text {
    font-family: 'DFVN Pexel Grotesk';
    font-size: 1.2vw;
    color: black;
    text-align: center;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.btnpioneer {

    border-radius: 35px;
    border: 2px solid white;
    background: none;
    padding: 10px 60px;
    font-size: 2.5vw;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    color: white;
    background-color: var(--color-yellow-magician);
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    font-family: 'DFVN Pexel Grotesk';
    box-shadow: 0 10px 8px rgba(255, 255, 255, 0.501);
}
.btnpioneer:hover {
    animation: jiggle 0.3s ease-in-out forwards;
}
.btnconstructor {
    border-radius: 35px;
    border: 2px solid white;
    background: none;
    padding: 10px 60px;
    font-size: 2.5vw;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    color: white;
    background-color: var(--color-blue-conqueror);
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    font-family: 'DFVN Pexel Grotesk';
    box-shadow: 0 10px 8px rgba(255, 255, 255, 0.501);
}
.btnconstructor:hover {
    animation: jiggle 0.3s ease-in-out forwards;
}
.btndreamchaser {
    border-radius: 35px;
    border: 2px solid white;
    background: none;
    padding: 10px 60px;
    font-size: 2.5vw;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    color: white;
    background-color: var(--color-green-angel);
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    font-family: 'DFVN Pexel Grotesk';
    box-shadow: 0 10px 8px rgba(255, 255, 255, 0.501);
}
.btndreamchaser:hover {
    animation: jiggle 0.3s ease-in-out forwards;
}

.btnnetworker {
    border-radius: 35px;
    border: 2px solid white;
    background: none;
    padding: 10px 60px;
    font-size: 2.5vw;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    color: white;
    background-color: var(--color-pink-clown);
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    font-family: 'DFVN Pexel Grotesk';
    box-shadow: 0 10px 8px rgba(255, 255, 255, 0.501);
}
.btnnetworker:hover {
    animation: jiggle 0.3s ease-in-out forwards;
}

@keyframes jiggle {
    0%, 100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
        transform: translate(-50%, -50%) rotate(3deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(-3deg);
    }
    75% {
        transform: translate(-50%, -50%) rotate(3deg);
    }
}
video {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 450px;
    height: 450px;
    object-fit: cover;
    z-index: 2;
    transform: translate(-50%, -50%);
    border-radius: 50vh;
}

@media (max-width: 480px) {
    .logoresult {
        width: 15rem;
        height: 10rem;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        display: block; 
    }
    img#ROWsticker {
        width: 100%;
    }
    .btn, .btnpioneer, .btndreamchaser, .btnnetworker {
        font-size: 5vw;
        padding: 8px 40px;
        margin-top: 15vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 350px;
        height: 350px;
        object-fit: cover;
        z-index: 2;
        transform: translate(-50%, -50%);
        border-radius: 30vh;

    }
    p.text {
    font-size: 3.2vw;
    color: black;
    text-align: center;
    position: absolute;
    width: 90%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    }
@media (max-width: 390px) {
    img#ROWsticker {
        width: 100%;
    }
    .backgroundconstructor, .backgroundnetworker, .backgrounddreamchaser, .backgroundpioneer,.background {
        height: 100dvh;
    }

    p.text {
        font-size: 3vw;
        margin-top: 50vw;
        margin-right: 2vw;
        margin-left: 2vw;
        width: 90%;
    }

    .btn, .btnpioneer, .btndreamchaser, .btnnetworker {
        font-size: 4vw;
        padding: 8px 40px;
        margin-left: 25vw;
    }

    video {
        width: 200px;
        height: 200px;
    }

    .circle {
        width: 300px;
        height: 300px;
    }

    img#bg1 {
        height: 90dvh;
    }

    img#bg2 {
        width: 80px;
        height: 80px;
    }

    img#bg3 {
        width: 70%;
    }

    img#bg4-left, img#bg4-right {
        width: 12%;
    }

    img#bg5, img#bg6 {
        width: 10%;
    }

    img#bg7 {
        width: 12%;
    }

    #questionbg {
        width: 400px;
        height: 70px;
    }

    img#bg8 {
        width: 28%;
        height: 80px;
    }

    .question_text {
        width: 24%;
        font-size: 2vw;
    }

    .answer-button, .answer-buttonnvat {
        width: 280px;
        height: 70px;
        font-size: 14px;
    }

    ul {
        width: 80%;
        bottom: 5vh;
    }
}
/************** TEST NHA ****************/
img#bg1 {
    position: absolute;
    width: 100%;
    height: 94vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
}
img#bg2 {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 1vh;
    right: 2vh;
    transform: translate(0, 0);
    z-index: -9;
}
img#bg3 {
    position: absolute;
    width: 38%;
    height: auto;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -8;
    border-radius: 8px;
}
img#bg4-left {
    position: absolute;
    width: 15%;
    bottom: 7vh;
    left: 10%;
    transform: translate(0, 0);
    z-index: -9;
}
img#bg4-right {
    position: absolute;
    width: 15%;
    bottom: 7vh;
    right: 10%;
    transform: translate(0, 0);
    z-index: -9;
}
img#bg5 {
    position: absolute;
    width: 12%;
    top: 20vh;
    left: 30vh;
    transform: rotate(10deg);
    z-index: -7;
}
img#bg6 {
    position: absolute;
    width: 12%;
    top: 35vh;
    left: 20vh;
    transform: rotate(-10deg);
    z-index: -7;
}
img#bg7 {
    position: absolute;
    width: 17%;
    bottom: 40vh;
    left: 20vh;
    transform: translate(0, 0);
    z-index: -9;
}
img#bg8 {
    position: absolute;
    width: 35%;
    height: 100px;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blip 1s infinite;
    z-index: 12;
}
img#bg9 {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 19%;
    height: auto;
    transform: translate(0, 0);
    z-index: -9;
}
@keyframes blip {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.question_text {
    position: absolute;
    width: 28%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-family: 'DFVN Pexel Grotesk';
    font-size: 0.8vw;
    color: black;
    text-align: center;
    width: 520px;
    height: 80px;
    background-color: #F0F0F0;
    border-radius: 15px;
    border: 1px solid black;
    position: absolute;
    bottom: 42vh;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 25px;
}

.answer-button {
    display: block;
    width: 336px;
    height: 90px;
    margin: 20px auto;
    padding: 10px;
    background: linear-gradient(to bottom, #FFFFFF, #C8EB94, #9EDD42);
    border: 1px solid #000;
    text-align: center;
    color: #000000;
    font-size: 16px;
    border-radius: 13px;
    cursor: pointer;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'DFVN Pexel Grotesk';


}
.answer-buttonnvat {
    display: block;
    width: 336px;
    height: 90px;
    margin: 20px auto;
    padding: 10px;
    background: linear-gradient(180deg, #FDFCFB 50%, #FF8100 100%);
    border: 1px solid #000;
    text-align: center;
    color: #000000;
    font-size: 16px;
    border-radius: 13px;
    cursor: pointer;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'DFVN Pexel Grotesk';


}
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
}

.answer-buttonnvat:hover {
    background: var(--color-yellow-magician);
    transition: background 0.5s ease, transform 0.3s ease;
    transform: scale(1.05);
}
.answer-button:hover {
    background: #9EDD42;
    transition: background 0.5s ease, transform 0.3s ease;
    transform: scale(1.05);
}
@media (max-width: 480px) {
    .logo {
        display:none;
    }
    img#bg1 {
        height: 150vh;
        width: 180vw;
        transform: translate(-50%, -50%) rotate(90deg);
        left: 50%;
        top: 50%;
        position: absolute;    
        object-fit:contain;
    }
    img#bg3 {
        width: 90%;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    img#bg4-right,
    img#bg5,
    img#bg6,
    img#bg7 {
        display: none;
    }
    img#bg8 {
        width: 80%;
        height: 100px;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #questionbg {
        width: 380px;
        height: 60px;
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .question_text {
        width: 75%;
        font-size: 2.6vw;
        margin-top: -35vw;
        font-family: 'DFVN Pexel Grotesk' ;
    }
    .question_text {
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .answer-button,
    .answer-buttonnvat {
        width: 350px;
        margin-bottom: -5px;
        height: 70px;
        font-size: 10px;
    }
    ul {
        width: 80%;
        bottom: 12vh;
        left: 37%;
    }
    li {
        width: 70%;
    }
    img#bg4-left {
        width: 22%;
        bottom: 1vh;
        left: 4vh;
        transform: translate(0, 0);
        z-index: -9;
        left: calc(50% - 50vw + 4vh); /* Adjust the left position relative to img#bg1 */
    }
}
@media(max-width: 1440px) {
    .logo {
    width: 6%;
    height:7rem;
    display: block;
    margin: auto;
    position: absolute;
    top: 12%;
    left: 10%;
    }
    img#ROWsticker {
        width: 100%;
    }
    img#bg1 {
        height: 80%;
        transform: translate(-50%, -50%) ;
        left: 50%;
        top: 50%;
        position: absolute;    
        object-fit:contain;
    }
    img#bg3 {
        width: 40%;
        top: 12%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    img#bg8 {
        width: 38%;
        height: 100px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #questionbg {
        width: 530px;
    height: 85px;
        position: absolute;
        top: 54%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .question_text {
        width: 35%;
        font-size: 1vw;
        font-family: 'DFVN Pexel Grotesk' ;
    }
    .question_text {
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .answer-button,
    .answer-buttonnvat {
        width: 300px;
        margin-bottom: -2px;
        height: 70px;
        font-size: 10px;
    }
    ul {
        width: 52%;
        bottom: 20%;
        left: 50%;
        margin-bottom: -3%;
    }
    li {
    }
    img#bg4-left,img#bg4-right {
        width: 15%;
        bottom: 12vh;
    }
    img#bg7 {
        width: 12%;
        left: 8%;
    }
    img#bg2{
        right: -2vh;
        width: 10%;
    }
}
@media (max-width: 390px) {
    img#ROWsticker {
        width: 100%;
    }
    img#bg1 {
        height: 150vh;
        width: 190vw;
        transform: translate(-50%, -50%) rotate(90deg);
        left: 52%;
        top: 53%;
        position: absolute;
    }

    img#bg2 {
        width: 80px;
        height: 80px;
    }

    img#bg3 {
        width: 70%;
    }

    img#bg4-left, img#bg4-right {
        width: 12%;
    }

    img#bg5, img#bg6 {
        width: 10%;
    }

    img#bg7 {
        width: 12%;
    }

    #questionbg {
        width: 400px;
        height: 70px;
    }

    img#bg8 {
        width: 28%;
        height: 80px;
    }

    .question_text {
        width: 24%;
        font-size: 2vw;
    }

    .answer-button, .answer-buttonnvat {
        width: 280px;
        height: 70px;
        font-size: 14px;
    }

    ul {
        width: 80%;
        bottom: 10vh;
        left: 33%;
    }
    li {
        width: 70%;
    }
    img#bg4-left {
        width: 25%;
        bottom: 8vh;
        left: 4vh;
        transform: translate(0, 0);
        z-index: -9;
    }
}
/*************HOMEPAGE**************/
img.homepagebg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.table {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    background: linear-gradient(90deg, #5DDA00 0%, #ffffff 50%, #5DDA00 100%);
    animation: tableMove 5s infinite;
    border: 1px solid #000;
}
h3 {
    font-family: 'DFVN Pexel Grotesk';
    font-size: 1vw;
    color: black;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.gifbg {
    
}
img#gifgmaychoigame,img#gifnhatki,img#giftaptomau
,img#gifvoso,img#gifxephinh{
    display: none;
    position: absolute;
    top: -70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    border-radius: 15px;
    border: 1px solid #000;


}
.containerindex {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 30%;
    z-index: 1; /* Ensure it is above the .table */
}
#redirect-button {
    font-family: 'DFVN Pexel Grotesk';
    font-size: 2vw;
    text-align: center;
    text-transform: uppercase;
    border: none;
    background:linear-gradient(180deg, #00D18B 0%, #ceeefd 50%, #00D18B 100%);
    border-radius: 25px;
    padding: 15px 60px;
    cursor: pointer;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    border: 1px solid #000;

}


#redirect-button:hover {
    background-color: var(--color-blue-conqueror);
    transition: background 0.5s ease, transform 0.3s ease;
    transform: translate(-50%, -50%) scale(1.05);
}
#maychoigamecomau {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 16%;
    z-index: 10;
}
#maychoigamekhongmau{
    display: none;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 15%;
    animation: float 3s ease-in-out infinite;


}
#nhatkicomau {
    position: absolute;
    top: 75%;
    left: 70%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 16%;
    animation: float 3s ease-in-out infinite;
    z-index: 10;


}

#nhatkikhongmau {
    display: none;
    position: absolute;
    top: 75%;
    left: 70%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 15%;
    animation: float 3s ease-in-out infinite;

}
#taptomaucomau {
    position: absolute;
    top: 75%;
    right: 69.5%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 17%;
    animation: float 3s ease-in-out infinite;
    z-index: 10;


}
#taptomaukhongmau {
    display: none;
    position: absolute;
    top: 75%;
    right: 70%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 15%;
    animation: float 3s ease-in-out infinite;

}
#vosocomau {
    position: absolute;
    top: 75%;
    left: 35%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 16%;
    animation: float 3s ease-in-out infinite;
    z-index: 10;


}
#vosokhongmau {
    position: absolute;
    top: 75%;
    left: 35%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 15%;
    animation: float 3s ease-in-out infinite;
    display: none;
}
#xephinhcomau {
    position: absolute;
    top: 75%;
    left: 90%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 16%;
    animation: float 3s ease-in-out infinite;
    z-index: 10;


}
#xephinhkhongmau {
    position: absolute;
    top: 75%;
    left: 90%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 15%;
    animation: float 3s ease-in-out infinite;
    display: none;
}
@keyframes float {
    0% {
        transform: translate(-50%, -50%) scale(0.8) translateY(-5px);
    }
    50% {
        transform: translate(-50%, -50%) scale(0.8) translateY(-15px);
    }
    100% {
        transform: translate(-50%, -50%) scale(0.8) translateY(-5px);
    }
}

#maychoigamecomau {
    animation: float 3s ease-in-out infinite;
}
@media (max-width: 768px) {
    img#ROWsticker {
        width: 100%;
    }
    .table {
        width: 100%;
        height: 35%;
    }
    #redirect-button {
        font-size: 5vw;
        padding: 8px 30px;
        top: 40%;
    }
    img#gifgmaychoigame,img#gifnhatki,img#giftaptomau
,img#gifvoso,img#gifxephinh{
    display: none;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-radius: 15px;

}
    #maychoigamecomau, #maychoigamekhongmau,
    #nhatkicomau, #nhatkikhongmau,
    #taptomaucomau, #taptomaukhongmau,
    #vosocomau, #vosokhongmau,
    #xephinhcomau, #xephinhkhongmau {
        width: 25%;
        transform: translate(-10%, -10%);
        margin: 10% 0;
    }
    #maychoigamecomau, #maychoigamekhongmau {
        left:50%;        
        top: 35%;

    }
    #nhatkicomau, #nhatkikhongmau {
        left:20%;
        top: 45%;

    }
    #taptomaucomau, #taptomaukhongmau {
        left:85%;
        top: 45%;
    }
    #vosocomau, #vosokhongmau {
        left:30%;
        top: 110%;
    }
    #xephinhcomau, #xephinhkhongmau {
        left:80%;
        top: 110%;
    }
    h3 {
        font-size: 3vw;
    }
}

@media (max-width: 480px) {
    img#ROWsticker {
        width: 100%;
    }
    h3 {
        font-size: 2vw;
    }
    .table {
        width: 100%;
        height: 35%;
    }
    #redirect-button {
        font-size: 5vw;
        padding: 8px 30px;
        top: 40%;
    }
    img#gifgmaychoigame,img#gifnhatki,img#giftaptomau
,img#gifvoso,img#gifxephinh{
    display: none;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 15px;

}
    #maychoigamecomau, #maychoigamekhongmau,
    #nhatkicomau, #nhatkikhongmau,
    #taptomaucomau, #taptomaukhongmau,
    #vosocomau, #vosokhongmau,
    #xephinhcomau, #xephinhkhongmau {
        width: 40%;
        transform: translate(-10%, -10%);
        margin: 10% 0;
    }
    #maychoigamecomau, #maychoigamekhongmau {
        left:50%;        
        top: 35%;

    }
    #nhatkicomau, #nhatkikhongmau {
        left:20%;
        top: 45%;

    }
    #taptomaucomau, #taptomaukhongmau {
        left:85%;
        top: 45%;
    }
    #vosocomau, #vosokhongmau {
        left:30%;
        top: 110%;
    }
    #xephinhcomau, #xephinhkhongmau {
        left:80%;
        top: 110%;
    }
}
