@font-face {
    font-family: 'DFVN Pexel Grotesk';
    src: url('../font/DFVN Pexel Grotesk.woff') format('woff');
}
@font-face {
    font-family: 'Ganh Type - Regular';
    src: url('../font/Ganh Type - Regular.woff') format('woff');
}
@font-face {
    font-family: 'Ganh Type - RegularItalic';
    src: url('../font/Ganh Type - RegularItalic.woff') format('woff');
    font-style: italic;
}
@font-face {
    font-family: 'Redaction35-BWXjw';
    src: url('../font/Redaction35-BWXjw.woff') format('woff');
}
@font-face {
    font-family: 'Redaction35Italic-rgDrB';
    src: url('../font/Redaction35Italic-rgDrB.woff') format('woff');
    font-style: italic;
}
@font-face {
    font-family: 'SF Pixelate Bold Oblique';
    src: url('../font/SF Pixelate Bold Oblique.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'SF Pixelate Oblique';
    src: url('../font/SF Pixelate Oblique.woff') format('woff');
}
:root {
    --color-green-angel: #5DDA00;
    --color-green-witch: #00D241;
    --color-green-astronut: #00D18B;
    --color-yellow-adventure: #FFBB00;
    --color-yellow-magician: #FF8100;
    --color-yellow-superhero: #FF103A;
    --color-blue-artist: #0095BD;
    --color-blue-conqueror: #0083C2;
    --color-blue-elf: #005AA2;
    --color-pink-superstar: #B0318B;
    --color-pink-clown: #F20071;
    --color-pink-cupid: #FF1380;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
    
}
.logo {
width: 6.25rem;
height: 6.25rem;
margin-top: 3rem;
margin-left: 7.5rem;
display: block;
}
@media screen and (max-width: 390px) {
    .logo {
        width: 3.125rem;
        height: 3.125rem;
        margin-top: 3.125rem;
        margin-left: 3.75rem;
    }  
    
}
@media (max-width: 768px) {
    .logo {
        width: 4rem;
        height: 4rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }
  }
/************ RESULT ************/
/***********CONSTRUCTOR***********/
.backgroundconstructor {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #0083C2 0%, #ffffff 50%, #0083C2 100%);
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    animation: backgroundAnimation 10s linear infinite;
    background-size: 200% 200%;
}
.backgroundnetworker {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #F20071 0%, #ffffff 50%, #F20071 100%);
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    animation: backgroundAnimation 10s linear infinite;
    background-size: 200% 200%;
}
.backgrounddreamchaser {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #5DDA00 0%, #ffffff 50%, #5DDA00 100%);
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    animation: backgroundAnimation 10s linear infinite;
    background-size: 200% 200%;
}
.backgroundpioneer {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #FF8100 0%, #ffffff 50%, #FF8100 100%);
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    animation: backgroundAnimation 10s linear infinite;
    background-size: 200% 200%;
}
@keyframes backgroundAnimation {

    0% { background-position: 0% 50%; }

    50% { background-position: 100% 50%; }

    100% { background-position: 0% 50%; }

}

p.text {
    font-family: 'Ganh Type - Regular';
    font-size: 1.2vw;
    color: black;
    text-align: center;
    margin-top: 28vw;
    margin-right: 5vw;
    margin-left: 7vw;
    border-right: 5px solid;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 3.5s steps(40, end),
        cursor .75s step-end infinite alternate;
}
@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
.btn {
    border-radius: 35px;
    border: 2px solid white;
    background: none;
    padding: 10px 60px;
    font-size: 2.5vw;
    cursor: pointer;
    margin-top: 2vw;
    position: relative;
    overflow: hidden;
    color: white;
    margin-left:40vw;
    font-family: 'SF Pixelate Oblique' ;
    box-shadow: 0 10px 8px rgba(255, 255, 255, 0.501);
}
.btn:hover {
    color: black;
}
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--color-blue-conqueror);
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
    height: 180%;
}
.btn:hover::before {
    height: 0;
}
.btnpioneer {
    border-radius: 35px;
    border: 2px solid white;
    background: none;
    padding: 10px 60px;
    font-size: 2.5vw;
    cursor: pointer;
    margin-top: 2vw;
    position: relative;
    overflow: hidden;
    color: white;
    margin-left:40vw;
    font-family: 'SF Pixelate Oblique' ;
    box-shadow: 0 10px 8px rgba(255, 255, 255, 0.501);
}
.btnpioneer:hover {
    color: black;
}
.btnpioneer::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--color-yellow-magician);
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
    height: 180%;
}
.btnpioneer:hover::before {
    height: 0;
}
.btndreamchaser {
    border-radius: 35px;
    border: 2px solid white;
    background: none;
    padding: 10px 60px;
    font-size: 2.5vw;
    cursor: pointer;
    margin-top: 2vw;
    position: relative;
    overflow: hidden;
    color: white;
    margin-left:40vw;
    font-family: 'SF Pixelate Oblique' ;
    box-shadow: 0 10px 8px rgba(255, 255, 255, 0.501);
}
.btndreamchaser:hover {
    color: black;
}
.btndreamchaser::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--color-green-angel);
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
    height: 180%;
}
.btndreamchaser:hover::before {
    height: 0;
}
.btnnetworker {
    border-radius: 35px;
    border: 2px solid white;
    background: none;
    padding: 10px 60px;
    font-size: 2.5vw;
    cursor: pointer;
    margin-top: 2vw;
    position: relative;
    overflow: hidden;
    color: white;
    margin-left:40vw;
    font-family: 'SF Pixelate Oblique' ;
    box-shadow: 0 10px 8px rgba(255, 255, 255, 0.501);
}
.btnnetworker:hover {
    color: black;
}
.btnnetworker::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--color-pink-clown);
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
    height: 180%;
}
.btnnetworker:hover::before {
    height: 0;
}
video {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    z-index: 2;
    transform: translate(-50%, -50%);
}
.circle {
    width: 450px;
    height: 450px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
@media (max-width: 390px) {
    .backgroundconstructor, .backgroundnetworker, .backgrounddreamchaser, .backgroundpioneer,.background {
        height: 100dvh;
    }

    p.text {
        font-size: 3vw;
        margin-top: 50vw;
        margin-right: 2vw;
        margin-left: 2vw;
        width: 90%;
    }

    .btn, .btnpioneer, .btndreamchaser, .btnnetworker {
        font-size: 4vw;
        padding: 8px 40px;
        margin-left: 25vw;
    }

    video {
        width: 200px;
        height: 200px;
    }

    .circle {
        width: 300px;
        height: 300px;
    }

    img#bg1 {
        height: 90dvh;
    }

    img#bg2 {
        width: 80px;
        height: 80px;
    }

    img#bg3 {
        width: 70%;
    }

    img#bg4-left, img#bg4-right {
        width: 12%;
    }

    img#bg5, img#bg6 {
        width: 10%;
    }

    img#bg7 {
        width: 12%;
    }

    #questionbg {
        width: 400px;
        height: 70px;
    }

    img#bg8 {
        width: 28%;
        height: 80px;
    }

    .question_text {
        width: 24%;
        font-size: 2vw;
    }

    .answer-button, .answer-buttonnvat {
        width: 280px;
        height: 70px;
        font-size: 14px;
    }

    ul {
        width: 80%;
        bottom: 5vh;
    }
}
/************** TEST NHA ****************/
img#bg1 {
    position: absolute;
    width: 100%;
    height: 94vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
}
img#bg2 {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 1vh;
    right: 2vh;
    transform: translate(0, 0);
    z-index: -9;
}
img#bg3 {
    position: absolute;
    width: 38%;
    height: auto;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -8;
    border-radius: 8px;
}
img#bg4-left {
    position: absolute;
    width: 15%;
    bottom: 7vh;
    left: 15vh;
    transform: translate(0, 0);
    z-index: -9;
}
img#bg4-right {
    position: absolute;
    width: 15%;
    bottom: 7vh;
    right: 15vh;
    transform: translate(0, 0);
    z-index: -9;
}
img#bg5 {
    position: absolute;
    width: 12%;
    top: 20vh;
    left: 30vh;
    transform: rotate(10deg);
    z-index: -7;
}
img#bg6 {
    position: absolute;
    width: 12%;
    top: 35vh;
    left: 20vh;
    transform: rotate(-10deg);
    z-index: -7;
}
img#bg7 {
    position: absolute;
    width: 15%;
    bottom: 40vh;
    left: 20vh;
    transform: translate(0, 0);
    z-index: -9;
}
#questionbg {
    width: 525px;
    height: 85px;
    background-color: #F0F0F0;
    border-radius: 15px;
    border: 1px solid black;
    position: absolute;
    bottom: 42vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
img#bg8 {
    position: absolute;
    width: 32%;
    height: 100px;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blip 1s infinite;
}

@keyframes blip {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.question_text {
    position: absolute;
    width: 28%;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-family: 'DFVN Pexel Grotesk';
    font-size: 1vw;
    color: black;
    text-align: center;
}

.answer-button {
    display: block;
    width: 336px;
    height: 90px;
    margin: 20px auto;
    padding: 10px;
    background: linear-gradient(to bottom, #FFFFFF, #C8EB94, #9EDD42);
    border: 1px solid #000;
    text-align: center;
    color: #000000;
    font-size: 16px;
    border-radius: 13px;
    cursor: pointer;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'DFVN Pexel Grotesk';


}
.answer-buttonnvat {
    display: block;
    width: 336px;
    height: 90px;
    margin: 20px auto;
    padding: 10px;
    background: linear-gradient(180deg, #FDFCFB 50%, #FF8100 100%);
    border: 1px solid #000;
    text-align: center;
    color: #000000;
    font-size: 16px;
    border-radius: 13px;
    cursor: pointer;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'DFVN Pexel Grotesk';


}
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
}

.answer-buttonnvat:hover {
    background: var(--color-yellow-magician);
    transition: background 0.5s ease, transform 0.3s ease;
    transform: scale(1.05);
}
.answer-button:hover {
    background: #9EDD42;
    transition: background 0.5s ease, transform 0.3s ease;
    transform: scale(1.05);
}
@media (max-width: 480px) {
    .logo {
        display:none;
    }
    img#bg1 {
        height: 150vh;
        width: 180vw;
        transform: translate(-50%, -50%) rotate(90deg);
        left: 50%;
        top: 53%;
        position: absolute;
    
    }
    img#bg3 {
        width: 90%;
        top: 5%;
        left: 50%;
    }
    img#bg4-right,
    img#bg5,
    img#bg6,
    img#bg7 {
        display: none;
    }
    img#bg8 {
        width: 80%;
        height: 100px;
        top: 32%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #questionbg {
        width: 350px;
        height: 60px;
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .question_text {
        width: 75%;
        font-size: 2.6vw;
        margin-top: -35vw;
    }
    .question_text {
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .answer-button,
    .answer-buttonnvat {
        width: 350px;
        margin-bottom: -5px;
        height: 70px;
        font-size: 10px;
    }
    ul {
        width: 80%;
        bottom: 15vh;
        left: 35%;
    }
    li {
        width: 70%;
    }
    img#bg4-left {
        width: 25%;
        bottom: 2vh;
        left: 4vh;
        transform: translate(0, 0);
        z-index: -9;
    }
}
@media (max-width: 390px) {
    
    img#bg1 {
        height: 150vh;
        width: 190vw;
        transform: translate(-50%, -50%) rotate(90deg);
        left: 52%;
        top: 53%;
        position: absolute;
    }

    img#bg2 {
        width: 80px;
        height: 80px;
    }

    img#bg3 {
        width: 70%;
    }

    img#bg4-left, img#bg4-right {
        width: 12%;
    }

    img#bg5, img#bg6 {
        width: 10%;
    }

    img#bg7 {
        width: 12%;
    }

    #questionbg {
        width: 400px;
        height: 70px;
    }

    img#bg8 {
        width: 28%;
        height: 80px;
    }

    .question_text {
        width: 24%;
        font-size: 2vw;
    }

    .answer-button, .answer-buttonnvat {
        width: 280px;
        height: 70px;
        font-size: 14px;
    }

    ul {
        width: 80%;
        bottom: 10vh;
        left: 33%;
    }
    li {
        width: 70%;
    }
    img#bg4-left {
        width: 25%;
        bottom: 8vh;
        left: 4vh;
        transform: translate(0, 0);
        z-index: -9;
    }
}
